<div class="menu">
  <ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
  </ul>
</div>
<div class="searchBar">
  <form>
    <select id="category">
      <option value="all" id="all">All</option>
      <option value="mensClothing">Mens Clothing</option>
      <option value="womensClothing">Womens Clothing</option>
      <option value="electronics">Electronics</option>
      <option value="sports">Sports</option>
      <option value="kids">Kids</option>
    </select>
    <input id="searchKey" type="text" placeholder="search for products"/>
    <button id="searchButton" type=submit>search</button>
  </form>
  <button id="signUp">SignUp</button>
  <button id="signIn">SignIn</button>
</div>
<!-- users can view all the available items here-->
<div class="itemView">
  <table>
    <tr>
      <td id="itemImage"><img src="content\images\imgTemplate.jpg"/></td>
      <td id="itemName">Sample Item</td>
      <td id="itemDescription">Some Description for item here</td>
      <td id="itemCost">Nu.0000000</td>
    </tr>
    <tr>
      <td id="itemImage"><img src="content\images\imgTemplate.jpg"/></td>
      <td id="itemName">Sample Item</td>
      <td id="itemDescription">Some Description for item here</td>
      <td id="itemCost">Nu.0000000</td>
    </tr>
    <tr>
      <td id="itemImage"><img src="content\images\imgTemplate.jpg"/></td>
      <td id="itemName">Sample Item</td>
      <td id="itemDescription">Some Description for item here</td>
      <td id="itemCost">Nu.0000000</td>
    </tr>
    <tr>
      <td id="itemImage"><img src="content\images\imgTemplate.jpg"/></td>
      <td id="itemName">Sample Item</td>
      <td id="itemDescription">Some Description for item here</td>
      <td id="itemCost">Nu.0000000</td>
    </tr>
  </table>
</div>
